// Override this file to add your own SCSS styling.

/* Hex golemverse dans resources */
@media (max-width: 768px) {
  .resources-golemverse {
    width: 50%;
    max-width: 200px;
  }
}
@media (max-width: 1200px) {
  .resources-golemverse {
    max-width: 200px;
  }
}
@media (min-width: 768px) {
  .resources-golemverse {
    position: absolute;
    right: 0;
  }
}
